* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #c4c4c4;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
